In [2]:
import pandas as pd

df = pd.read_csv("./data/energie_dataset.csv")

In [3]:
df.head()

,DateTime,Consumption,Production,Nuclear,Wind,Hydroelectric,Oil and Gas,Coal,Solar,Biomass
0,2019-01-01 00:00:00,6352,6527,1395,79,1383,1896,1744,0,30
1,2019-01-01 01:00:00,6116,5701,1393,96,1112,1429,1641,0,30
2,2019-01-01 02:00:00,5873,5676,1393,142,1030,1465,1616,0,30
3,2019-01-01 03:00:00,5682,5603,1397,191,972,1455,1558,0,30
4,2019-01-01 04:00:00,5557,5454,1393,159,960,1454,1458,0,30

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54170 entries, 0 to 54169
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime       54170 non-null  object
 1   Consumption    54170 non-null  int64
 2   Production     54170 non-null  int64
 3   Nuclear        54170 non-null  int64
 4   Wind           54170 non-null  int64
 5   Hydroelectric  54170 non-null  int64
 6   Oil and Gas    54170 non-null  int64
 7   Coal           54170 non-null  int64
 8   Solar          54170 non-null  int64
 9   Biomass        54170 non-null  int64
dtypes: int64(9), object(1)
memory usage: 4.1+ MB

In [ ]:
df.isnull().sum().sum()

np.int64(0)

In [ ]:
df.columns

Index(['DateTime', 'Consumption', 'Production', 'Nuclear', 'Wind',
       'Hydroelectric', 'Oil and Gas', 'Coal', 'Solar', 'Biomass'],
      dtype='object')

In [ ]:
df["DateTime"] = pd.to_datetime(df["DateTime"])
df["DateTime"]

0       2019-01-01 00:00:00
1       2019-01-01 01:00:00
2       2019-01-01 02:00:00
3       2019-01-01 03:00:00
4       2019-01-01 04:00:00
                ...
54165   2025-03-19 19:00:00
54166   2025-03-19 20:00:00
54167   2025-03-19 21:00:00
54168   2025-03-19 22:00:00
54169   2025-03-19 23:00:00
Name: DateTime, Length: 54170, dtype: datetime64[ns]

In [ ]:
df = df.sort_values("DateTime")
df.set_index("DateTime", inplace=True)
df.head()

,Consumption,Production,Nuclear,Wind,Hydroelectric,Oil and Gas,Coal,Solar,Biomass
DateTime,,,,,,,,,
2019-01-01 00:00:00,6352,6527,1395,79,1383,1896,1744,0,30
2019-01-01 01:00:00,6116,5701,1393,96,1112,1429,1641,0,30
2019-01-01 02:00:00,5873,5676,1393,142,1030,1465,1616,0,30
2019-01-01 03:00:00,5682,5603,1397,191,972,1455,1558,0,30
2019-01-01 04:00:00,5557,5454,1393,159,960,1454,1458,0,30

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaleddata = scaler.fit_transform(df)

In [ ]:
import numpy as np
def create_sequences(data, window=24):
    X, y = [], []
    for i in range(window, len(data)):
        X.append(data[i-window:i])
        y.append(data[i, 0]) 
    return np.array(X), np.array(y)

X, y = create_sequences(scaleddata, window=24)

In [ ]:
y

array([0.40714179, 0.38517854, 0.36799641, ..., 0.69191693, 0.59748991,
       0.51636038], shape=(54146,))

In [ ]:
split = int(0.8 * len(X))
X_train, X_test = X[:split], X[split:]
y_train, y_test = y[:split], y[split:]